* {
  box-sizing: border-box;
}

#DRheader {
  margin: 0%;
  top: 0;
  height: 0;

}

#DRheaderwrapper {
  max-width: 100%;
  width: 100%;
  margin: 0%;
  padding: 0;
  border: 0;
  height: 90px;
  display: table;
  position: relative;
  background-repeat: no-repeat;
  background-position: top center;
}

#DRtopbar {
  background-color: rgb(166, 19, 128);
  color: white;
  text-align: center;
  top: 61px;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: 0;
}

.DRlinkstyle {
  text-decoration: none;
  color: white;
  text-align: center;
  letter-spacing: 0px;
  font-family: "roboto", Arial, Helvetica, sans-serif;
  font-size: 22px;
}

.DRactionbar {
  color: white;
  letter-spacing: 0px;
  text-transform: uppercase;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  float: left;
  width: 100%;
  margin-bottom: 0;
  background-color: #adadad;
  margin: 0 auto;
  position: static;
  line-height: 15px;
}

.DRliststyle {
  list-style-type: none !important;
}

.DRsocial {
  color: white;
  letter-spacing: 0px;
  text-transform: uppercase !important;
  margin: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  list-style-type: none !important;
  list-style: none outside;
  float: right;
  margin-left: 35px;
  padding-left: 20px !important;
  padding-right: 20px !important;
  padding: 12px 0;
}

.DRfacebook {
  color: white;
  letter-spacing: 0px;
  text-transform: uppercase !important;
  list-style: none outside;
  list-style-type: none !important;
  align-content: center;
  margin: 0;
  padding: 0;
  border: 0;
  position: absolute;
  top: 68%;
  right: 13%;
  font: inherit;
  display: inline-block !important;
  vertical-align: middle !important;
  margin-right: 6px;
}

.DRlinkedin {
  color: white;
  letter-spacing: 0px;
  text-transform: uppercase !important;
  list-style: none outside;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  display: inline-block !important;
  position: absolute;
  top: 68%;
  right: 14.5%;
  margin-right: 6px;
}

.DRinstagram {
  color: white;
  letter-spacing: 0px;
  text-transform: uppercase !important;
  list-style: none outside;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  display: inline-block;
  position: absolute;
  top: 68%;
  right: 16%;
  margin-right: 6px;
}


.DRmail {
  color: white;
  letter-spacing: 0px;
  text-transform: uppercase !important;
  list-style: none outside;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  display: inline-block;
  position: absolute;
  top: 68%;
  right: 17.5%;
  margin-right: 6px;
}

.DRactionmenu {
  color: white !important;
  letter-spacing: 0px;
  text-transform: uppercase !important;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  position: absolute;
  top: 55%;
  right: 25%;
  display: table;
}

.DRactionmenu2 {
  color: white !important;
  letter-spacing: 0px;
  text-transform: uppercase !important;
  margin: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  list-style: none outside;
  float: right;
  padding: 12px 0;
}

.DRactionmenuoptions {
  color: white !important;
  letter-spacing: 0px;
  text-transform: uppercase !important;
  list-style: none outside;
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  cursor: pointer;
  display: inline-block !important;
  margin-right: 6px;
  padding-right: 6px;
  border-right: 1px solid rgba(255, 255, 255, .1);
  font-size: 14px;
}

.DRactionmenuoptions a:hover {
  text-decoration: underline;
}

.header {
  background: rgb(255, 255, 255);
}

.fix-top {
  position: sticky;
  align-items: flex-start;
  top: 0;
  width: 100%;
  height: 50px;

}

/*--select language-*/
.DRul {
  list-style-type: none;
  margin-top: 0px;
  margin-right: 120px;
}

.DRli {
  float: right;
  margin-top: 45px;
}

#language {
  margin-top: 10px;
  height: 30px;
  width: 50px;
  border: 1px solid rgb(173, 173, 173);
  border-radius: 3px;
}

/*--dropdown-*/
li.dropdown {
  display: inline-block;
  float: right;
  margin-top: 45px;
}

li a,
.dropbtn {
  display: inline-block;
  text-decoration: none;
  color: grey;
  padding: 20px 20px;
}

li a:hover,
.dropdown:hover .dropbtn {
  color: rgb(115, 156, 198);

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(255, 255, 255);
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  display: table;
  text-decoration: none;
  text-align: left;
  color: #007db8;
  font-size: small;
}

.dropdown-content a:hover {
  color: #005d88;
  font-weight: bold;
}

.dropdown:hover .dropdown-content {
  display: table;
}

#dropdown-content-list {
  left: 50%;
  width: 98%;
  height: 310px;
  padding-left: -10px;
  background-color: rgb(255, 255, 255, 0.8);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}


span.mega-indicator:after {
  content: '\f140';
  font-family: dashicons;
  font-weight: normal;
  display: inline-block;
  margin: 0 0 0 6px;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: rotate(0);
  color: inherit;
  position: relative;
  background: transparent;
  height: auto;
  width: auto;
  right: auto;
  line-height: inherit;
}

.DRbackground {
  background-image: url('assets/H22_Projekt_Header.jpg');
  width: 100%;
  background-size: cover;
  margin-top: 75px;
  height: 600px;
  padding: 50px;
  box-sizing: border-box;
}

.DRwhitebox {
  background-color: white;
  width: 90%;
  height: 100%;
  padding: 40px 30px 0px 40px;
  margin-top: 400px;
  margin-left: 10px;
}

.DRwhiteboxtext1 {
  color: #0095D8;
  font-family: "Roboto", Arial, Tahoma, sans-serif;
  font-weight: 300;
}

.DRwhiteboxtext2 {
  color: #0095D8;
  font-family: "Roboto", Arial, Tahoma, sans-serif;
  font-weight: 300;
  margin-top: 80px;
  font-size: 45px;
}

.DRwhiteboxtext3 {
  color: #737373;
  font-family: "Roboto", Arial, Tahoma, sans-serif;
  font-weight: 300;
  margin-top: 40px;
  font-size: 26px;
  max-width: 700px;
}

.DRgreybox {
  background-color: #f2f2f2;
  width: 385px;
  height: auto;
  padding: 10px 30px 10px 30px;
  margin-top: -250px;
  margin-left: 865px;
}

.DRgreyboxtext1 {
  color: #737373;
  font-family: "Roboto", Arial, Tahoma, sans-serif;
  font-weight: 300;
  margin-top: 40px;
  font-size: 26px;
  max-width: 700px;
}

.DRgreyboxtext2 {
  color: #0095eb;
  font-family: "Roboto", Arial, Tahoma, sans-serif;
  font-weight: 300;
  margin-top: 40px;
  font-size: 26px;
  max-width: 700px;
  font-weight: 700;
  text-decoration: none;
}

.DRgreyboxtext2:hover {
  text-decoration: underline;
}

.headerimgcontainer {
  width:100%;
  height:320px;
  padding:50px 0px;
  overflow:hidden;
  background-image:url(../backup/img/H22_Testbedd_Header.jpg);
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  border-bottom:25px solid #0095eb;
  }
  
 
/* Vitsection test bäddar text*/

.vitsection h3 {
color: rgb(47, 155, 243);
margin-left: 30px;
margin-top: 60px;
font-size: 36px;
}
.vitsection h3:after {
    content: "";
    display: block;
    margin: 0;
    width: 60px;
    padding-top: 10px;
    margin-bottom: 25px;
    border-bottom: 6px solid #0095db;
}
.vitsection h1 {
color: rgb(47, 155, 243);
white-space: pre-line;
margin-left: 30px;
font-size: 27px;

}
.vitsection p{
color: black;
white-space: pre-line;
margin-left: 30px;
font-size: 20px;


}
.vitsection {
background-color: white;
margin-left: 40px;
height: 650px;
width: 93%;
flex-direction: column;
position: absolute;
}
/* Gråsection Kontakta oss */
.gråsection {
background-color: #f2f2f2; 
white-space: pre-line;
margin-top: 230px;
padding: 10px;
width: 342px;
height: 280px;
margin-left: 1090px;
position: absolute;
font-size: 20px;

}  
.gråsection a {
  text-decoration: none;
}
.vitsection div p {
font-size: smaller;
 } 
  /* Searchbar*/
 .searchbar {
   margin-left: 27%;
   
   }
 
   .searchbar input[type=text] {
     border-radius: 6px;
    padding: 10px;

    width: 650px;
    border: 1px solid blue;
    background: white;
    margin-top: 80px;
  }
  
 .backgroundcolor {
   background-color: rgb(223, 222, 222);
   
 }

 .headerimgcontainer {
  width:100%;
  height:320px;
  padding:50px 0px;
  overflow:hidden;
  background-image:url(img/H22_Testbedd_Header.jpg);
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  border-bottom:25px solid #0095eb;
  }
=======
} 
<<<<<<< HEAD
=======
>>>>>>> c9c6129d8527167b0035267c547b3542640364be
>>>>>>> 500a317f399f1abf9c0fa4c95ff31998cecc5721

.flex-container1 {

  display: flex;
  width: 100%;  
  align-items: center;
  background-color: rgb(223, 222, 222);

}


  
}
main {
    margin-top: 50px;
    width: 100%;
    padding: 0;
<<<<<<< HEAD
    background-color: rgb(223, 222, 222);
  
=======
    
>>>>>>> bbf0264546f7121ec7414b169e7dbb6ad4823d81
    
}
.flex-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    background-color: rgb(223, 222, 222);
    padding: 0px 80px 0px;
  

   
    
}
.flex-container > div {
    background-color: white;
    margin: 25px;
    width: 99%;
    transition: 1s;
    
    
    
    
  }
  .flex-container > div:hover{
		transform: scale(1.3);
		z-index: 2;
		
  }
		
.flex-container > div img{
    width: 100%;
    height: 305px;
    
    
   
  }
p { 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14x;
    line-height: 24px;
    color: #737373;
    margin: 10px 60px 90px 30px;


}
.p2 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14x;
    line-height: 24px;
    color: rgba( 0, 149, 219, 1);
    margin: 10px 0px 10px 30px;
    padding-top: ;

}
h2 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(115, 115, 115, 1);
  margin: 10px 0px 10px 30px;

}
h3 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba( 0, 149, 219, 1);
  margin: 10px 0px 60px 30px;

}

body {
  margin:0;
  font-family:"Roboto", arial, tahoma, 
  }
  
  #footer {
  overflow:hidden;
  }
  
  .footerbackground1 {
  width:100%;
  background-color:#4cb4e5;
  padding:80px 0px;
  }
  
  .footercontainer1 {
  display:flex;
  justify-content:center;
  align-items:center;
  width:100%;
  margin-left:60px;
  }
  
  .footertext1 {
  width:50%;
  }
  
  .footertext1 h4 {
  line-height:10px;
  }
  
  .footertext1 a {
  color:white;
  font-size:14px;
  text-decoration:none;
  }
  
  .h41 {
  font-size:18px;
  font-weight:300;
  color:white;
  }
  
  .h42 {
  font-size:18px;
  font-weight:700;
  color:white;
  }
  
  input[type="text"] {
  display:inline-block;
  padding:10px;
  outline:none;
  max-width:100%;
  margin-bottom:20px;
  border:1px solid white;
  box-shadow: 0px 0px 2px 2px rgb(0 0 0 2%);
  box-sizing:border-box;
  font-size:20px;
  width:50%;
  }

  input::placeholder {
  color:#4cb4e5;
  }

  input[type=text]:focus {
  background-color:whitesmoke;
  }
  
  input[type="submit"] {
  display:inline-block;
  background-color:red;
  color:white;
  padding:10px 20px;
  margin-bottom:20px;
  margin-right:7px;
  font-size:19px;
  margin-left:-4px;
  border:0;
  cursor:pointer;
  }
  
  .footertext2 {
  width:50%;
  text-align:right;
  margin-right:110px;
  line-height:25px;
  }
  
  .footertext2 a {
  color:white;
  font-size:20px;
  text-decoration:none;
  margin-top:30px;
  }
  
  .footertext2 a:hover {
  text-decoration:underline;
  }
  
  .footertext2 p {
  color:white;
  padding-right:21px;
  }
  
  .icon {
  display:inline-block;
  padding-right:38px;
  }
  
  .icons {
  width:36px;
  height:36px;
  text-align:center;
  }
  
  .footerbackground2 {
  background-color:#0095eb;
  width:100%;
  padding:200px 10px 45px 0px;
  }
  
  .footercontainer2 {
  display:flex;
  width:100%;
  }
  
  
  .footertext3 {
  width:50%;
  margin-left:50px;
  }
  
  .footertext3 img {
  width:288px;
  height:75px;
      }
  
  .footertext4 {
  width:50%;
  margin:0px 60spx 20px 0px;
  }
  
  .footertext4 img {
  width:109px;
  height:115px;
  float:right;
  
  }
© 2022 GitHub, Inc.
Terms
Privacy


